<div class="center padded white-bg">
    <div class="content padded">
        <div class="center padded">
            <h1>
                Proyectos Construidos
            </h1>
        </div>
        <div class="row-second">
            <div class="card third">
                <h3>Mailer App</h3>
                <p>Una Aplicacion que envia correos utilizando la API de Sendgrid</p>
                <a class="orange" target="_blank" href="#">Link Aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Aplicacion para gestionar mis clientes</p>
                <a class="orange" target="_blank" href="#">Link Aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de Tareas</h3>
                <p>Aplicacion para gestionar mis tareas</p>
                <a class="orange" target="_blank" href="#">Link Aqui</a>
            </div>
            <div class="card third">
                <h3>Talabarteria la Dueña</h3>
                <p>
                    Sitio WEB que da informacion sobre el negocio
                    'Talabarteria la Dueña', dando informacion como:
                    Producctos, Ubicacion, Historia, Redes sociales y una seccion de bolsa de trabajo.                    
                </p>
                <a class="orange" target="_blank" href="https://talabarteriaduena.netlify.app/index.html">Link Aqui</a>
            </div>
            <div class="card third">
                <h3>Control de Estacionamiento</h3>
                <p>
                    Sistema WEB que brinda el soporte para controlar las entradas
                    y salidas de cualquier estacionamiento, teniendo las opciones
                    de cobrar una tarifa segun el tipo de vehiculo, 
                    agregar o eliminar nuevos tipos de tarifas.
                    Y descargar un listado en un archivo de Excel o PDF.                    
                </p>
                <a class="orange" target="_blank" href="#">Link Aqui</a>
            </div>
        </div>
    </div>
</div>