<div class="center">
    <div class="content">
         <div class="row vert-pad">
            <div class="left padded">
               <h1>
                    Desarrollo sitios web y aplicaciones
                </h1>
               <p>
                    Constantemente me encuentro aprendidiendo nuevas tecnologias. 
                    Esta aplicacion WEB fue desarrollada desde cero con Python y Flask!!. 
                    Usando HTML y CSS puro. 
                </p>
            </div>
            <div class="right padded">
               <h1>¿Te interesa saber mas sobre mi o trabajar enconjunto?</h1>
               <p>Solo enviame un correo <a href="#contacto" class="orange">Pulsa Aqui</a></p>
            </div>
         </div>
    </div>
</div>



